p {
	display: inline;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.95vw;
}

.toptab {
	width: 75.2vw;
	height: 7.3vw;
	box-shadow: 0.55vw 0.55vw 0.6vw rgb(0, 0, 0);
	border-radius: 0.55vw;
	background-color: rgb(144, 144, 144);
	box-shadow: 0.55vw 0.55vw 0.6vw rgb(0, 0, 0);
	border-radius: 0.55vw;
	background-color: rgb(144, 144, 144);
}

.lefttab {
	display: inline-block;
	width: 7.4vw;
	height: 22.5vw;
	vertical-align: top;
	border-radius: 0.55vw;
	margin-left: -20vw;
	box-shadow: 0.55vw 0.55vw 0.6vw rgb(0, 0, 0);
	border-radius: 0.55vw;
	background-color: rgb(144, 144, 144);
}

.midtab {
	display: inline-block;
	width: 53.7vw;
	height: 30.4vw;
	vertical-align: top;
	border-radius: 0.55vw;
	margin-left: 1.2vw;
	margin-right: 1.2vw;
	box-shadow: 0.55vw 0.55vw 0.6vw rgb(0, 0, 0);
	border-radius: 0.55vw;
	background-color: rgb(144, 144, 144);
}

.righttab {
	display: inline-block;
	width: 7.4vw;
	height: 22.5vw;
	vertical-align: top;
	border-radius: 0.55vw;
	margin-right: -20vw;
	box-shadow: 0.55vw 0.55vw 0.6vw rgb(0, 0, 0);
	border-radius: 0.55vw;
	background-color: rgb(144, 144, 144);
}

.greentab {
	position: absolute;
	height: 9vw;
	width: 27.5vw;
	margin-top: -3.6vw;
	margin-left: 9.5vw;
	background-color: #8BFD8A;
	box-shadow: 0.55vw 0.55vw 0.6vw rgb(0, 0, 0);
	border-radius: 0.55vw;
}

.dot42 {
	position: absolute;
	height: 6vw;
	width: 22vw;
	margin-top: 0.5vw;
	margin-left: -36.7vw;
}

.loupe {
	position: absolute;
	height: 7.9vw;
	width: 13.5vw;
	margin-top: 0.5vw;
	margin-left: 22.5vw;
}

.reload {
	position: absolute;
	height: 1vw;
	width: 1vw;
	margin-top: 0.5vw;
	margin-left: 36vw;
}

.close {
	position: absolute;
	height: 1vw;
	width: 1vw;
	margin-top: 5.7vw;
	margin-left: 36vw;
}

.imgclust {
	width: 52.5vw;
	height: 29.2vw;
	margin-top: 0.55vw;
}

.chair {
	position: relative;
	width: 8vw;
	height: 12vw;
	top: -12.6vw;
	left: -0.7vw;
	opacity: 0;
}

.apple {
	position: relative;
	width: 10vw;
	height: 8vw;
	top: -17vw;
	left: 16vw;
	opacity: 0;
}

.arrow {
	position: absolute;
	height: 3.7vw;
	width: 3.7vw;
	margin-top: 0.8vw;
	margin-left: -1.9vw;
}

.main {
	position: absolute;
	height: 3.7vw;
	width: 3.7vw;
	margin-top: 5.1vw;
	margin-left: -1.9vw;
}

.oeil {
	position: absolute;
	height: 3.7vw;
	width: 3.7vw;
	margin-top: 9.06vw;
	margin-left: -2.14vw;
	border-radius: 0.2vw;
	border: 0.24vw solid red;
}

.outil {
	position: absolute;
	height: 3.7vw;
	width: 3.7vw;
	margin-top: 13.4vw;
	margin-left: -1.9vw;
}

.chat {
	position: absolute;
	height: 3.7vw;
	width: 3.7vw;
	margin-top: 17.5vw;
	margin-left: -1.9vw;
}

.book {
	position: absolute;
	height: 5.2vw;
	width: 3.7vw;
	margin-top: 0.8vw;
	margin-left: -1.9vw;
}

.towel {
	position: absolute;
	height: 2.8vw;
	width: 3.7vw;
	margin-top: 6.5vw;
	margin-left: -1.9vw;
}

.brick {
	position: absolute;
	height: 3.9vw;
	width: 6.6vw;
	margin-top: 9.5vw;
	margin-left: 0.4vw;
	background: repeat url("resources/brick.jpg")
}

.box1 {
	width: 20vw;
	height: 1.3vw;
	font-size: 0.7vw;
}

.box2 {
	position: absolute;
	width: 4.5vw;
	font-size: 0.7vw;
	margin-left: 20.5vw;
	margin-top: -1.3vw;
}

.input {
	position: absolute;
	margin-top: 0vw;
	margin-left: 0.2vw;
}

.greencontent {
	position: absolute;
	margin-top: 0.5vw;
	margin-left: 0.5vw;
	line-height: 1.27vw;
}

.entrez {
	font-size: 2vw;
	font-family: 'Times New Roman', Times, serif, monospace;
}

.ordi {
	text-shadow: 0.2vw 0.2vw 0.2vw #ff4b4b;
}