body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #eee;
}

nav {
	width: 100%;
	background-color: #424558;
}

nav>ul {
	margin: 0px;
	padding: 0PX;
}

nav>ul::after {
	content: "";
	display: block;
	clear: both;
}

nav>ul>li {
	float: left;
	position: relative;
}

nav>ul>li>p {
	padding: 20px 30px;
	color: #eee;
}

nav>ul>li:hover p {
	padding: 15px 30px 20px;
}

nav li {
	list-style-type: none;
}

.submenu {
	display: none;
}

nav p {
	display: inline-block;
	text-decoration: none;
}

nav li:hover .submenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.submenu li {
	border-bottom: 3px solid #eee;
}

.submenu li p {
	padding: 13px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.burger:hover {
	border-top: 5px solid rgb(65, 165, 231);
	background-color: rgba(65, 165, 231, 0.15);
}

.Bagel:hover {
	border-top: 5px solid rgb(230, 100, 40);
	background-color: rgba(230, 100, 40, 0.15);
}

.Sandwich:hover {
	border-top: 5px solid rgb(193, 240, 65);
	background-color: rgba(193, 240, 65, 0.15);
}

.burger .submenu {
	background-color: #26a8e4;
}

.Bagel .submenu {
	background-color: rgb(230, 100, 40);
}

.Sandwich .submenu {
	background-color: #9be426;
}

.submenu li:hover p {
	color: #eee;
	font-weight: bold;
}

.submenu li:hover {
	background-color: rgb(210, 77, 60)
}